<%- include("partials/header") -%>
<div class="content">
  <h1>Compose</h1>
  <form action="/compose" method="post">
    <div class="">
      <label for="exampleFormControlInput1" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="postTitle"
        placeholder="Post Title"
        name="postTitle"
        autocomplete="off"
      />
    </div>
    <div class="">
      <label for="postText" class="form-label">Post</label>
      <textarea
        class="form-control mb-3"
        id="postText"
        rows="5"
        placeholder="Write post here..."
        name="postText"
      ></textarea>
    </div>
    <button
      class="btn btn-primary rounded-pill px-3 mt-3"
      type="submit"
      id="btnPub"
    >
      Publish
    </button>
  </form>
</div>
<%- include("partials/footer") -%>
